<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837720958172-4lpgtlfapqhak8sk3rvi9hl64j9gga01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837720958172-4lpgtlfapqhak8sk3rvi9hl64j9gga01</string>
	<key>API_KEY</key>
	<string>AIzaSyAR-ti3CCHILQ5VdQXqX_dtUjBsPP_E9qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>837720958172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agefred</string>
	<key>PROJECT_ID</key>
	<string>agefred-2f6ab</string>
	<key>STORAGE_BUCKET</key>
	<string>agefred-2f6ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837720958172:ios:6b02e4a74c21cfa91e8019</string>
</dict>
</plist>